/ {
    key_matrix {
        compatible = "gpio-keys";
        status = "okay";

        row0: row0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
        };
        row1: row1 {
            gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
        };
        row2: row2 {
            gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        };
        col0: col0 {
            gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
        };
        col1: col1 {
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
        };
    };
};